<!DOCTYPE html>
<html lang="en">
  <%- include("../header"); %>
  <body>
    <%- include("../menu"); %>
    <!-- Material form register -->
    <div class="card">
      <h5 class="card-header info-color white-text text-center py-4">
        <strong>Sign up</strong>
      </h5>

      <!--Card content-->
      <div class="card-body px-lg-5 pt-0">
        <!-- Form -->
        <form id="signupForm" class="text-center" style="color: #757575;" action="#!">
          <div class="form-row">
            <div class="col">
              <!-- name -->
              <div class="md-form">
                <input
                  type="text"
                  id="name"
                  class="form-control"
                  required
                />
                <label for="name">Input name</label>
              </div>
            </div>
          </div>

          <!-- E-mail -->
          <div class="md-form mt-0">
            <input type="email" id="email" class="form-control" requried />
            <label for="email"">Input E-mail</label>
          </div>

          <!-- Password -->
          <div class="md-form">
            <input
              type="password"
              id="password"
              class="form-control"
              required
              aria-describedby="materialRegisterFormPasswordHelpBlock"
            />
            <label for="password">Input Password</label>
            

          <!-- Sign up button -->
          <button
            class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
            type="submit"
          >
            Sign in
          </button>
        </form>

        <!-- Form -->
      </div>
    </div>
    <!-- Material form register -->
    <%- include("../footer"); %>
    <script>
      $(function () {
        $("#signupForm").submit((event) => {
          event.preventDefault();
          //등록
          const name = $("#name").val();
          const email = $("#email").val();
          const password = $("#password").val();

          $.ajax({
            url: "/api/user/signup",
            type: "POST",
            data: { name, email, password },
          })
            .done(() => {
              //alert("회원가입 성공");
              location.href = "/api/user/login";
            })
            .fail((request, status, error) => {
              alert(request.responseText);
            });
        });
      });
    </script>
  </body>
</html>
