.card_ {
  border-top: 1px solid gray;
  padding: 20px 0 20px 0;
  overflow: auto;
}

.listwrapper {
  margin-top: 40px;
  border-bottom: 1px solid gray;
}
.card-body {
  width: calc(100% - 93px);
  padding-right: 0;
}
.hoverbtn {
  color: white;
  border: 1px white solid;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  font-size: 10px;
  margin: 5px;
}
@media screen and (max-width: 768px) {
  .card-title {
    font-size: 20px;
    font-weight: bold;
  }
}
