<!DOCTYPE html>
<html lang="en">
  <%- include("../header"); %>
  <link rel="stylesheet" href="/stylesheets/user/signup.css" />
  <body>
    <div class="wrapper">
      <div class="content">
        <%- include("../menu"); %>

        <!-- Default form login -->
        <form id="signupForm" class="text-center border border-light p-5 userwrapper" action="#!">
          <p class="h4 mb-4">Register</p>
          <!-- Name -->
          <input type="name" id="name" class="form-control" placeholder="Name" />
          <p id="nameError" class="errtext"></p>
          <!-- Email -->
          <input type="id" id="identification" class="form-control" placeholder="id" />
          <p id="idError" class="errtext"></p>

          <!-- Password -->
          <input type="password" id="password" class="form-control" placeholder="Password" />
          <p id="passwordError" class="errtext"></p>

          <!-- Sign in button -->
          <button class="btn btn-red my-4" type="submit">회원가입</button>

          <!-- Register -->
          <p><a class="smalltext" href="/api/user/login">이미 가입하셨나요?</a></p>
        </form>

        <!-- Default form login -->
      </div>
    </div>
    <%- include("../footer"); %>
    <script>
      $(function () {
        $("#signupForm").submit((event) => {
          event.preventDefault();
          //등록
          const name = $("#name").val();
          const identification = $("#identification").val();
          const password = $("#password").val();

          $.ajax({
            url: "/api/user/signup",
            type: "POST",
            data: { name, identification, password },
          })
            .done(() => {
              location.href = "/api/user/login";
            })
            .fail((request, status, error) => {
              if (request.status === 400) {
                $("#nameError").text(request.responseText);
                $("#idError").text("");
                $("#passwordError").text("");
              } else if (request.status === 401) {
                $("#nameError").text("");
                $("#idError").text(request.responseText);
                $("#passwordError").text("");
              } else if (request.status === 402) {
                $("#nameError").text("");
                $("#idError").text("");
                $("#passwordError").text(request.responseText);
              } else {
                alert(request.responseText);
              }
            });
        });
      });
    </script>
  </body>
</html>
